# Copyright 2021 Sony Corporation
#
# product common configuration
#

on boot
    # NFC local data and storage
    mkdir /data/vendor/nfc 0770 nfc nfc
    mkdir /data/vendor/nfc/param 0770 nfc nfc
    mkdir /data/vendor/secure_element 0770  secure_element secure_element
